**/__pycache__
**/__pycache__/**
*.py[cod]
*$py.class
*.pyc
*.pyo
.git/
.git/**
.github/
.github/**
.agents/
.agents/**
tests/
tests/**
dist/
dist/**
build/
build/**
*.egg-info/
*.egg-info/**
.DS_Store
*.quarantine
